@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --lightPurple: hsl(273, 75%, 66%);
    --lightBlue: hsl(240, 73%, 65%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(240, 5%, 91%);
    --medGrey: hsl(240, 6%, 50%);
    --darkGrey: hsl(237, 12%, 33%);
    --orange: hsl(14, 88%, 65%);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( var(--lightPurple), var(--lightBlue));
}


.main-container{
    width: 60rem;
    border-radius: 15px;
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3) ;
}

.img-container{
    width: 50%;
    background:url("./Images/bg-pattern-desktop.svg");
    background-size: inherit;
    background-position: top -17rem left -38rem;
    background-repeat: no-repeat;
    overflow: hidden;
}

.accordian-container{
    width: 50%;
    padding: 3.5rem;
}

.accordian-container hr{
    border-color: 1px solid var(--lightGrey);
    margin: 15px 0;
    width: 95%;
}

.accordian{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.question{
    font-size: 14px;
    font-weight: 500;
    color: var(--darkGrey);
    margin-block: 10px;
    transition: 0.2s ease-in-out;
}

.faq.active .question{
    font-weight: 600;
}

.question:hover{
    color:  var(--orange);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.answer{
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.8;
    color:  var(--medGrey);
    margin-right: 5rem;
    transition: max-height 1.2s ease-in-out;
}

.faq.active .answer{
    max-height: 200px;
    animation: fade 1s ease-in-out;
}

.faq.active .arrow{
    transform: rotate(180deg);
}

.arrow{
    transition: .8s ease;
}

.arrow{
    width: 12px;
    margin-right: 5rem;
    cursor: pointer;
}

.img-container #img1{
    position: relative;
    top: 4rem;
    left: -5rem;
}

.img-container #img2{
    position: absolute;
    top: 21rem;
    left: 10rem;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px)''
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ----- Media Queries ----- */

@media (max-width: 780px) {
    .main-container{
        width: 25rem;
        margin-top: 2.5rem;
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .img-container{
        height: 6rem;
        width: 27rem;
        background-size: 19rem;
        background-position: top -12rem right 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .img-container #img1{
        position: absolute;
        top: 0rem;
        left: -2rem;
        width: 16rem;
        margin-left: 10rem;
        margin-top: -1rem;
    }

    .img-container #img2{
        width: 10rem;
        top: 2rem;
        left: 6rem;
    }

    .heading{
        text-align: center;
        font-size: 2rem;
    }
    .accordian-container{
        width: 28rem;
        padding: 2.5rem;
    }

}